# =============================================
# Backend independiente - CASETODO CARLOS RUIZ
# =============================================
PORT=3144
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/casetodo-carlos-ruiz_db
CORS_ORIGIN=http://127.0.0.1:5500
ASSOCIATE_SLUG=casetodo-carlos-ruiz
ASSOCIATE_NAME="CASETODO CARLOS RUIZ"
ADMIN_EMAIL=casetodocarlosruiz@gmail.com
